<mat-card>
    <div class="container-fluid">
        <mat-card-title>
            <h3 class="text-center">Create a new quote</h3>
        </mat-card-title>
        <hr>
        <form (ngSubmit)="submitQuote()" #myForm='ngForm' quoteForm="ngForm">
            <div class="row">
                <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" class="form-control" id="author" required [(ngModel)]="newQuote.author" name="author" #quote='ngModel'>
                    <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                        <p>Author is required</p>
                      </div>
            
                </div>
                <div class="form-group">
                    <label for="quote">Quote</label>
                    <textarea name="quote" id="quote" rows="10" class="form-control" required [(ngModel)]="newQuote.theirQuotes" name="theirQuotes" #theirQuotes='ngModel'></textarea>
                    <div [hidden]="theirQuotes.valid || theirQuotes.pristine" class="alert alert-danger">
                        <p>Authors' quote can't be blank</p>
                      </div>
                </div>
                <div class="form-group">
                    <label for="name">name</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="newQuote.name" name="name" #name='ngModel'>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        <p>Type your name</p>
                      </div>
                </div>
            </div>
            <div>
                <label for="image">Authors Image-URL</label>
                <input type="text" id="image" [(ngModel)]="newQuote.image" name="image" #image="ngModel">
            </div>
                <div class="add">
                    <button type="submit" class="btn btn-success" >Write a quote</button>
                </div>
        </form>
    </div>
</mat-card>
