img {
  height: 40vh;
  width: 30vw;
  margin-bottom: 1em;
  border-radius: 10px;
}

/* #line {

  float: right;
} */

.material {
  max-width: 800px;
  margin: auto;
  padding: 1em;
}

h1 {
  display: flex;
  justify-content: center;
  background-color: green;
  color: whitesmoke;
  font-weight: bolder;
  border-radius: 10px;
}

#author {
  max-width: 800px;
  width: 450px;
  margin-top: 1%;
}

.toggle {
  margin: 1em;

}

/* button {
  width: 40vw;
} */

#up,
#down {
  width: 5vw;
  font-size: 40px;
}

mat-card {
  background: rgba(0, 0, 0, .06);
}
