<div class="container-fluid">
  <div>
    <h1>Classy Quotes</h1>
    <hr>
    <ul>
      <li *ngFor='let quote of quotes; let i=index'>
        <h4>{{quote.author}}</h4>
        <br>
        <img src="{{quote.image}}"/>
        <br>
        <button (click)='toggleQuotes(i)'>Toggle</button>
        <app-quote-detail *ngIf='quote.showQuotes' [quote]='quote' (isComplete) = 'completeQuote($event,i)'></app-quote-detail>
      </li>
    </ul>
  </div>
  <div>
    <app-quotes-form></app-quotes-form>
  </div>
</div>

