<div class="container-fluid">
  <div>
    <div class="material">
      <mat-card>
        <div class="header">
          <h1 >Classy Quotes</h1>
        </div>
      </mat-card>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6">
          <div *ngFor='let quote of quotes; let i=index'>
                <div id="author">
                  <mat-card>
                   <h4>{{quote.author}}</h4>
                  </mat-card>
                </div>
                <br>
              <!-- <p>Updated {{quote.timePassed|date}} ago</p> -->
                <br>
                <p>Last Updated {{quote.timePassed | timeCount }} days</p>
                <img src="{{quote.image}}"/>
                <br>
                <button (click)='toggleQuotes(i)' class="btn btn-info toggle">Toggle quote</button>
                <app-quote-detail *ngIf='quote.showQuotes' [quote]='quote' (isComplete) = 'completeQuote($event,i)' (isUpVote)="upVote($event, i)"
                (isDownVote)="downVote($event, i)"></app-quote-detail>
                <br>
                <br>
               </div>
  
  </div>

  <div class="col-md-6">
    <app-quotes-form (addQuote)="addNewQuote($event)"></app-quotes-form>
  </div>
</div>

